@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Movimientos de Stock</h1>
    <span class="fw-bold fs-3 text-primary">@ViewBag.Mensaje</span>
</div>
